---
import Icon from "./Icon.astro";
---
<section class="grid box skills">
	
	<div class="logo">
		<h1>❤️</h1>
	</div>

	<div class="stack gap-2 lg:gap-4 logo">
	<a href="https://flutter.dev/" target="_blank">
		<img src="https://www.vectorlogo.zone/logos/flutterio/flutterio-ar21.svg"
		width="300"
		height="150"
		/>
	</a>
</div>

<div class="stack gap-2 lg:gap-4 logo">
	<a href="https://kotlinlang.org/" target="_blank">
		<img src="https://www.vectorlogo.zone/logos/kotlinlang/kotlinlang-ar21.svg"
		width="300"
		height="150"
		/>
	</a>
</div>
	<div class="stack gap-2 lg:gap-4 logo">
		<a href="https://dart.dev/" target="_blank">
			<img src="https://www.vectorlogo.zone/logos/dartlang/dartlang-ar21.svg"
			width="300"
			height="150"
			/>
		</a>
	</div>

	<div class="stack gap-2 lg:gap-4 logo">
		<a href="https://firebase.google.com/" target="_blank">
			<img src="https://www.vectorlogo.zone/logos/firebase/firebase-ar21.svg"
				width="400"
				height="150"
			/>
		</a>
	</div>

		<div class="stack gap-2 lg:gap-4 logo">
			<a href="https://www.swift.org/download/" target="_blank">
				<div class="svg-container">
					<img src="https://www.vectorlogo.zone/logos/swift/swift-ar21.svg"
					width="300"
					height="150"
					/>
				</div>
			</a>
		</div>
	<div class="stack gap-2 lg:gap-4 logo">
		<a href="https://laravel.com/" target="_blank">
			<div class="svg-container">
			<img src="//logowiki.net/uploads/logo/l/laravel-2.svg" width="200" height="150" />
			</div>
		</a>
	</div>
	<div class="stack gap-2 lg:gap-4 logo">
		<a href="https://laravel.com/" target="_blank">
			<div class="svg-container">
			<img src="https://www.vectorlogo.zone/logos/symfony/symfony-ar21.svg" width="300" height="200" />
			</div>
		</a>
	</div>
	<div class="stack gap-2 lg:gap-4 logo">
		<a href="https://www.rabbitmq.com/" target="_blank">
			<div class="svg-container">
			<img src="https://www.vectorlogo.zone/logos/rabbitmq/rabbitmq-ar21.svg" width="300" height="200" />
			</div>
		</a>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.svg-container {
  		color: white; /* Set the fill color to white */
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo h1 {
		text-align: center;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
